<!DOCTYPE html>
<html>
  <head>   
  </head>
  <body>
    <h1>Hola Admin</h1>

    <br>
    <a href="/add">Agregar Película</a></p>
      
    <a href="/user/list">ver lista de usuarios</a>

    <ul>
      <h2>Editar de Películas</h2>
      <% movies.forEach(movie => { %>
        <li>
          <a href="/update/<%= movie.id %>"><%= movie.title %></a>
          <!-- Botón para redirigir a la página de borrado de la película -->
          <a href="/delete/<%= movie.id %>"><button>Borrar Película</button></a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
