<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
</head>
<body>
    <% if (user) { %>
        <p>Bienvenido, <%= user.name %> (<%= user.email %>)</p>
        <a href="/user/logout">Cerrar sesión</a>
        <% if (user.rol === 0) { %>
            <p>Rol: Usuario Espectador</p>
        <% } else if (user.rol === 1) { %>
            <p>Rol: Administrador
                <a href="/user/admin">propiedades</a>
            </p>
        <% } %>
            
        </form>
    <% } else { %>
        <p>Por favor, inicia sesión para ver tu perfil.</p>
        <a href="/user/log">Iniciar sesión</a> |
        <a href="/user/register">Registrarse</a>
    <% } %>

    <h1>Listado de Películas</h1>
    
    <ul>
        <% for (let i = 0; i < movies.length; i++) { %>
            <li>
                <a href="/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>
